/* banner section sytles */
.banner_container {
  position: relative;
}

.banner_text_info_container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* transform: translate(-50%, -70%); */
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
}
