body {
  font-family: "Quicksand", sans-serif !important;
}
.bg_black {
  background-color: #000000;
}

.custom_icon {
  font-size: 2rem;
  color: #fa8b60;
  transition: all 0.5s;
}

a:hover > .custom_icon {
  color: #df5721;
}
