body {
  font-family: "Roboto", sans-serif !important;
}
.bg_black {
  background-color: #000000;
}

.custom_logo {
  width: 65px;
}

.custom_icon {
  font-size: 2rem;
  color: #0d6efd;
  transition: all 0.5s;
}

a:hover > .custom_icon {
  color: #0b5ed7;
}

.custom_img {
  max-width: 80%;
  object-fit: contain;
}

.custom_letter_spacing {
  letter-spacing: 1.5px;
  word-spacing: 3px;
}

.custom_price {
  font-size: 25px;
  font-weight: 700;
  margin-left: 7px;
}

.detail_img {
  max-height: 550px;
}

.custom_order {
  background-color: transparent;
  transition: all 0.6;
}
.custom_order:hover {
  background-color: #ccc;
}

.custome_order_icon {
  font-size: 30px;
}

.custom_modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
}

.modal_content {
  background-color: #fff;
  border-radius: 10px;
}

.custom_modal_content {
  position: relative;
}

.custom_gallery_img {
  max-width: 500px;
  max-height: 500px;
}

.custom_btn {
  position: absolute;
  top: -30px;
  right: -50px;
  font-size: 35px;
  color: #fff;
}

.custom_tour_card {
  box-shadow: 0px 7px 11px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 7px 11px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 11px -2px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.custom_tour_card:hover .custom_card_img {
  transform: scale(1.1);
}
