body {
  font-family: "Roboto", sans-serif !important;
}
.bg_black {
  background-color: #000000;
}

.custom_logo {
  width: 65px;
}

.custom_icon {
  font-size: 2rem;
  color: #dc3545;
  transition: all 0.5s;
}

a:hover > .custom_icon {
  color: #dd051b;
}

.custom_img {
  max-width: 80%;
  object-fit: contain;
}

.custom_letter_spacing {
  letter-spacing: 1.5px;
  word-spacing: 3px;
}

.custom_price {
  font-size: 25px;
  font-weight: 700;
  margin-left: 7px;
}

.detail_img {
  max-height: 550px;
}
