body {
  font-family: "Roboto", sans-serif !important;
}
.bg_black {
  background-color: #000000;
}

.custom_logo {
  width: 65px;
}

.custom_icon {
  font-size: 2rem;
  color: #dc3545;
  transition: all 0.5s;
}

a:hover > .custom_icon {
  color: #dd051b;
}

.custom_img {
  max-width: 80%;
  object-fit: contain;
}
